.header {
  position: fixed;
  top: 0px;
  height: 4.5rem;
  transition-property: all; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
  background-color: black;
  z-index: 100;
}

.header.hide {
  top: -4.5rem;
  background-color: brown;
}
